/* Universal Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif, serif;
}

/** Colours **/
:root {
  --PrimaryPurple50: hsl(260, 100%, 95%);
  --PrimaryPurple300: hsl(264, 82%, 80%);
  --PrimaryPurple500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey100: hsl(214, 17%, 92%);
  --Grey200: hsl(0, 0%, 81%);
  --Grey400: hsl(224, 10%, 45%);
  --Grey500: hsl(217, 19%, 35%);
  --DarkBlue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

/* Base Card Stylings */

.card-container {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 95%;
  padding: 2rem;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.5em;
  box-shadow: 1em 4em 4em rgb(193, 193, 193);
  max-width: 305px;
  transition: all 0.1s ease-in-out;
}

.profile-container {
  display: flex;
  margin-bottom: 1em;
}

img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 1em;
}

h1 {
  font-size: 0.8em;
}

h2 {
  font-size: 0.6em;
}

.paragraph-1 {
  margin-bottom: 1em;
  font-size: 1.25em;
  line-height: 1.2em;
}

.paragraph-2 {
  font-size: 0.8em;
  line-height: 1.4em;
}

/** Card purple500 **/

.purple500 {
  background-color: var(--PrimaryPurple500);
}

.purple500-img {
  border: 2px solid var(--PrimaryPurple300);
}

.purple500-name {
  color: var(--PrimaryPurple50);
}

.purple500-verified {
  color: var(--PrimaryPurple50);
}

.purple500-p1 {
  color: var(--White);
}

.purple500-p2 {
  color: var(--PrimaryPurple300);
}

/** Card grey500 **/

.grey500 {
  background-color: var(--Grey500);
}

.grey500-name {
  color: var(--White);
}

.grey500-verified {
  color: var(--Grey200);
}

.grey500-p1 {
  color: var(--White);
}

.grey500-p2 {
  color: var(--Grey200);
}

/** Card white **/

.white1 {
  background-color: var(--White);
}

.white2 {
  background-color: var(--White);
}
.white-name {
  color: var(--Grey400);
}

.white-verified {
  color: var(--Grey200);
}

.white-p1 {
  color: var(--Grey500);
  font-weight: bolder;
}

.white-p2 {
  color: var(--Grey400);
}

/** Card darkblue **/

.darkblue {
  background-color: var(--DarkBlue);
}

.darkblue-img {
  border: 2px solid var(--PrimaryPurple500);
}

.darkblue-name {
  color: var(--Grey200);
}

.darkblue-verified {
  color: var(--Grey200);
}

.darkblue-p1 {
  color: var(--Grey100);
}

.darkblue-p2 {
  color: var(--Grey200);
}

/* Tablet View */

@media screen and (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 2em;
  }

  .card {
    max-width: 100%;
    transition: all 0.1s ease-in-out;
  }

  .purple500 {
    width: 100%;
    grid-column: span 2;
    grid-row: 1;
  }

  .grey500 {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .white1 {
    width: 100%;
    grid-column: 2;
    grid-row: 2;
  }

  .darkblue {
    width: 100%;
    grid-column: span 2;
    grid-row: 3;
  }

  .white2 {
    width: 100%;
    grid-column: span 2;
    grid-row: 4;
  }
}

/* Desktop View */

@media screen and (min-width: 1440px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .card {
    height: 100%;
    transition: all 0.1s ease-in-out;
  }

  .purple500 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .grey500 {
    grid-row: 1;
    grid-column: 3;
  }

  .white1 {
    grid-row: 2;
    grid-column: 1;
  }

  .white2 {
    grid-row: span 2;
    grid-column: 4;
  }

  .darkblue {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
